[Unit]
Description=Daemontools service supervision

[Service]
ExecStart={{ daemontools_dir }}/svscanboot {{ daemontools_service_dir }}
Restart=always

[Install]
WantedBy=multi-user.target
