[Unit]
Description=Daemontools service supervision

[Service]
ExecStart=/usr/bin/svscanboot {{ svscan_path }}
Restart=always

[Install]
WantedBy=multi-user.target
